{% schema %}
{
  "name": "3D Slider",
  "settings": [
    {
      "type": "richtext",
      "id": "header",
      "label": "Header",
      "default": "<p>Our Slider</p>"
    },
    {
      "type": "image_picker",
      "id": "slide1_image",
      "label": "Slide 1 Image"
    },
    {
      "type": "image_picker",
      "id": "slide2_image",
      "label": "Slide 2 Image"
    },
    {
      "type": "image_picker",
      "id": "slide3_image",
      "label": "Slide 3 Image"
    },
    {
      "type": "image_picker",
      "id": "slide4_image",
      "label": "Slide 4 Image"
    },
    {
      "type": "image_picker",
      "id": "slide5_image",
      "label": "Slide 5 Image"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Shop Now"
    },
    {
      "type": "collection",
      "id": "selected_collection",
      "label": "Selected collection"
    }
  ],
  "presets": [
    {
      "name": "3D Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}
{{ 'custom-3d-slider.css' | asset_url | stylesheet_tag }}

<div id="slider-section">
  <p id="slider-header">{{ section.settings.header }}</p>
  <section id="slider">
    <input type="radio" name="slider" id="s1" checked>
    <input type="radio" name="slider" id="s2">
    <input type="radio" name="slider" id="s3">
    <input type="radio" name="slider" id="s4">
    <input type="radio" name="slider" id="s5">

    <label for="s1" id="slide1">
      <img src="{{ section.settings.slide1_image | image_url }}" height="500" width="800">
    </label>
    <label for="s2" id="slide2">
      <img src="{{ section.settings.slide2_image | image_url }}" height="500" width="800">
    </label>
    <label for="s3" id="slide3">
      <img src="{{ section.settings.slide3_image | image_url }}" height="500" width="800">
    </label>
    <label for="s4" id="slide4">
      <img src="{{ section.settings.slide4_image | image_url }}" height="500" width="800">
    </label>
    <label for="s5" id="slide5">
      <img src="{{ section.settings.slide5_image | image_url }}" height="500" width="800">
    </label>
  </section>
  <div class="arrow next">
    <svg viewBox="0 0 448 512" width="50" title="angle-double-right">
      <path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z" />
    </svg>
  </div>
  <div class="arrow prev">
    <svg viewBox="0 0 448 512" width="50" title="angle-double-left">
      <path d="M223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34z" />
    </svg>
  </div>
</div>

<div id="button">
  <a href="{{ section.settings.selected_collection.url }}" class="button button-primary">
    {{ section.settings.button_text }}
  </a>
</div>
